<!DOCTYPE html>
<html>
<head>
    <title>Crear Ticket</title>
</head>
<body>
    <h2>Crear Ticket</h2>

    <form method="POST">
        <input type="text" name="title" placeholder="Título" required><br><br>

        <textarea name="descripcion" placeholder="Descripción" required></textarea><br><br>

        <select name="categoria">
            <option value="Software">Software</option>
            <option value="Hardware">Hardware</option>
            <option value="Red">Red / Internet</option>
            <option value="Correo">Correo electrónico</option>
            <option value="Sistema">Sistema Operativo</option>
            <option value="Acceso">Accesos / Permisos</option>
            <option value="Impresora">Impresora</option>
            <option value="Cuenta">Cuenta de usuario</option>
            <option value="BaseDatos">Base de Datos</option>
            <option value="Servidor">Servidor</option>
            <option value="Seguridad">Seguridad</option>
            <option value="Instalacion">Instalación</option>
            <option value="Actualizacion">Actualización</option>
            <option value="Respaldo">Respaldo</option>
            <option value="Otro">Otro</option>
                        
        </select><br><br>

        <button type="submit">Crear</button>
    </form>

    <br>
    <a href="/usuario">Volver</a>
</body>
</html>
