<!DOCTYPE html>
<html>
<head>
    <title>Crear Ticket</title>
</head>
<body>
    <h2>Crear Ticket</h2>

    <form method="POST">
        <input type="text" name="title" placeholder="Título" required><br><br>

        <textarea name="descripcion" placeholder="Descripción" required></textarea><br><br>

        <select name="categoria">
            <option value="Software">Software</option>
            <option value="Hardware">Hardware</option>
            <option value="Red">Red</option>
        </select><br><br>

        <button type="submit">Crear</button>
    </form>

    <br>
    <a href="/usuario">Volver</a>
</body>
</html>
